body{
margin:0;
font-family:-apple-system,BlinkMacSystemFont;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:#fff;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:90%;
max-width:600px;
background:#ffffff10;
padding:25px;
border-radius:20px;
backdrop-filter:blur(20px);
}

h1{
text-align:center;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border-radius:10px;
border:none;
}

button{
width:100%;
padding:12px;
border-radius:10px;
border:none;
background:#00c6ff;
color:#fff;
cursor:pointer;
margin-top:10px;
}

.progress-bar{
width:100%;
height:8px;
background:#ffffff30;
border-radius:10px;
margin-bottom:20px;
}

#progress{
height:8px;
background:#00ffcc;
width:0%;
border-radius:10px;
}

.question{
margin-bottom:20px;
}

.option{
margin:10px 0;
padding:10px;
background:#ffffff20;
border-radius:10px;
cursor:pointer;
}

.option:hover{
background:#ffffff40;
}

.hidden{
display:none;
}

#resultBox img{
width:100%;
border-radius:15px;
margin-top:15px;
}
